<footer>

    <figure>
        <a href="https://csumb.edu/"><img src="img/footer_logo.png" alt="Logo of CSUMB" class="footer_logo"></a>
    </figure>

    CST336 Internet Programming. 2025&copy; Nhep <br>
    <strong>Disclaimer:</strong> This website is for academic purposes.
</footer>