body {
    background-color: black;
    text-align: center;
}

footer {
    text-align: center;
    margin: 0 auto;
    font-size: 0.8em;
    color: #4c4d4c;
    padding: 25px;
}

.footer_logo {
    padding: 5px;
    margin: 0 auto;    
    width: 300px;
    height: auto;
}

.navlinks {
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 20px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    gap: 40px;  

}

.navbar {
    border: 2px solid #1f1f1f;
    backdrop-filter: blur(20px);
    background-color: #000000a6;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 20px;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    top: 12px;
    overflow: auto;
}

nav a:visited {
    color: rgb(142, 141, 145);
    text-decoration: none;
}

nav a {
    color: rgb(142, 141, 145);
    /* border: solid 2px white; */
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "CTRS" 0;
    text-decoration: none;
    margin-right: 40px;

}

nav a:hover {
    color: white;
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "CTRS" 0;
}

nav a.active {
    color: yellow;
    font-weight: bold;
    text-decoration:wavy;
}

.main-card, .img-card {
    flex-flow: row;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: center;
    max-width: 1100px;
    height: 544px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 144px;
    display: flex;
    padding: 0;
    text-align: left;
    gap: 20px;
}

.desc-card, .img-card {
    flex: 1; /* give both equal width */
}

.img-card img {
    width: 100%; 
    height: auto; 
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 8px 8px 10px #00000080;
}

.page-title {
    padding: 40px;
}

h2, h1 {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    color: yellow;
}

body {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;
    color: white;
}

.desc-card {
    padding: 20px;
}

.info-card {
    flex-flow: row;
    flex: 0 auto;
    justify-content: flex-start;
    text-align: center;
    max-width: 1100px;
    height: 250px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 55px;
    padding-bottom: 144px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
}

.home-img {
    max-width: 750px;
    height: 544px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 8px 8px 10px #00000080;
}